// Hero
// ----------------------------------------------------------------------------
.tagline {
  color: rgb(79, 226, 226);
  position: absolute;
  top: 10px;
  left: 20px;
  bottom: 10px;
  overflow: hidden;
  font-size: 30px;
  width: 48%;
  text-align: left;
  margin: 0;
}

.monkey-hero {
  background: url('/images/patterns/stripe.png');
  position: relative;
  top: 30px;
  height: 200px;
  border-bottom: 1px solid #e8e8e8;
  overflow: hidden;


  svg {
    position: absolute;
    right: 0px;


    .style3 {
      fill: #fdfdfd;
      stroke: #000000;
      stroke-width: 1;
      stroke-miterlimit: 10;
    }

    .thumbnail {
      fill: pink;
    }
  }
}

.monk-img {
  position: absolute;
  right: 0px;
  width: 200px;
}

.svg-caps {
  cursor: pointer;
  @include vendor-prefix(user-select, none);


  .keyboard-key {
    stroke: black;
    fill: white;
  }

  .text {
    font-family: 'HelveticaNeue';
    font-size: 10px;
    fill: black;
  }

  .dot {
    fill: black;
  }

  &.inverted {
    cursor: auto;

    .keyboard-key {
      stroke: white;
      fill: black;
    }

    .text {
      font-family: 'HelveticaNeue';
      font-size: 10px;
      fill: white;
    }

    .dot {
      fill: white;
    }
  }
}

#heroText {
  position: absolute;
  padding: 5px;
  color: rgb(68, 211, 216);
}

// Animation
// ----------------------------------------------------------------------------
@include keyframes(presscaps) {
  0% {
    @include vendor-prefix(transform, rotate(0deg));
  }

  75% {
    @include vendor-prefix(transform, rotate(10deg));
  }

  100% {
    @include vendor-prefix(transform, rotate(0deg));
  }
}

#svg-hand {
  @include vendor-prefix(transform-origin, '100% 0%');
  @include vendor-prefix(animation-name, presscaps);
  // @include vendor-prefix(animation-delay, 1s);
  @include vendor-prefix(animation-duration, .3s);
  @include vendor-prefix(animation-iteration-count, 7);
  @include vendor-prefix(animation-timing-function, ease-in);
  @include vendor-prefix(animation-fill-mode, forwards);
}
