.monkey-hero {
  position: relative;
  height: 200px;
  border-bottom: 1px solid #e8e8e8;

  svg {
    position: absolute;
    right: -250px;
  }
}

.monk-img {
  position: absolute;
  right: 0px;
  width: 200px;
}

@include keyframes(presscaps) {
  0% {
    @include vendor-prefix(transform, rotate(0deg));
  }

  50% {
    @include vendor-prefix(transform, rotate(0deg));
  }

  80% {
    @include vendor-prefix(transform, rotate(10deg));
  }

  100% {
    @include vendor-prefix(transform, rotate(0deg));
  }
}

.svg-hand {
  @include vendor-prefix(transform-origin, '100% 0%');
  @include vendor-prefix(animation-name, presscaps);
  @include vendor-prefix(animation-duration, 5s);
  @include vendor-prefix(animation-iteration-count, 1);
  @include vendor-prefix(animation-timing-function, ease-in);
  @include vendor-prefix(animation-fill-mode, forwards);
}
