svg {
  .keyboard-key {
    stroke: black;
    fill: white;
  }

  .text {
    font-family: 'HelveticaNeue';
    font-size: 10px;
    fill: black;
  }

  .dot {
    fill: black;
  }

  .style3 {
    fill: #fdfdfd;
    stroke: #000000;
    stroke-width: 1;
    stroke-miterlimit: 10;
  }

  .thumbnail {
    fill: pink;
  }
}
