.row {
  width: 100%;
  @extend %clearfix;
}

.col-4 {
  float: left;
  width: 33.3333%;
}

.col-6 {
  float: left;
  width: 50%;
}

.col-8 {
  float: left;
  width: 66.6666%;
}

.col-12 {
  width: 100%;
}

.gutter {
  padding: 10px 10px 0 10px;
}

.project.card {
  position: relative;
  padding: 10px;
  margin-bottom: 20px;

  h3 {
    display: inline;
  }
}

.projects {
}

.tag-list {
  margin: 0;

  li {
    list-style: none;
    background: rgba(230, 230, 230, 1);
    background: url("/images/patterns/stripe.png");
    display: inline-block;
    margin: 1px;
    padding: 0 2px;
  }
}

.link-bar {
  display: inline-block;
  margin-top: 10px;
  font-size: 30px;
  border-bottom: 1px dotted;
  padding: 0 5px;
  // border-radius: 6px;
}
